{% extends "back/basebackoffice.html.twig" %}

{% block title %}Etape index{% endblock %}

{% block body %}
    <h1>Etape index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroEtape</th>
                <th>VilleEtape</th>
                <th>NombreJours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etape in etapes %}
            <tr>
                <td>{{ etape.id }}</td>
                <td>{{ etape.numeroEtape }}</td>
                <td>{{ etape.villeEtape }}</td>
                <td>{{ etape.nombreJours }}</td>
                <td>
                    <a href="{{ path('admin_etape_show', {'id': etape.id}) }}">show</a>
                    <a href="{{ path('admin_etape_edit', {'id': etape.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_etape_new') }}">Create new</a>
{% endblock %}
